:root{
    --base-color: #005dff;
    --big-space: 50px;
    --base-space: 20px;
    --medium-space: 30px;
}

/* ! reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! generics */
body{
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 1px;
}

img{
    width: 100%;
    display: block;
}

li{
    display: inline-block;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    line-height: 1.3rem;
}

.button{
    padding: 10px var(--base-space);
    background-color: var(--base-color);
    color: white;
    text-align: center;
}

.button:hover{
    opacity: 0.7;
    cursor: pointer;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.big-title{
    font-size: 2.5rem;
}

.small-title{
    font-size: 1.5rem;
}

.d-flex{
    display: flex;
}

/* ! header */
.header{
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.header .navbar{
    padding: 0 var(--base-space);    
    align-items: center;
}

.navbar .nav-list .nav-link{
    margin-left: 40px;
    position: relative;
    font-size: 1rem;
}

.navbar .nav-list .nav-link a{
    display: inline-block;
    line-height: 70px;
}

.nav-list li a:hover{
    box-shadow: 0px 10px 0px 0px #005dff;
}

.navbar.right{
    gap: var(--base-space);
}

/* ! main */

/* ! Jumbotron */
.jumbotron{
    background-color: #b4d0e7;
}

.container.big{
    max-width: 1200px;
}

.jumbotron .container h1{
    padding-top: 100px;
    font-size: 5rem;
}

.jumbo-paragraph .paragraph-text{
    margin-top: 65px;
    flex-basis: 30%;
    position: relative;
}

.jumbo-paragraph .paragraph-text .button{
    margin: var(--medium-space) 0;
    width: fit-content;
}

.jumbo-paragraph .paragraph-image{
    position: relative;
    flex-grow: 1;
    top: 65px;
}

.paragraph-text .arrow{
    display: block;
    position: absolute;
    bottom:var(--base-space);
    font-size: 3rem;
}

.paragraph-image img{
    height: 500px;
}

/* ! main body */

/* * four cards section */
.container.wrapper{
    margin-top: 200px;
}

.offer-section{
    flex-direction: column;
    gap: var(--big-space);
}

.hr-container .fatturazione{
    margin-top:var(--big-space);
}

.fatturazione .selection{
    margin-right: 25px;
}

.fatturazione .selection:first-child i{
    color: var(--base-color);
}

.offer-section .vr-container{
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 45px;
}

.vr-container .card:hover{
    border: 1px solid var(--base-color);
}

.vr-container .card{
    width: calc(100% / 3 - var(--medium-space));
    border: 1px solid #d0d0d3;
}

.card .card-header{
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}

.card .card-body{
    padding:  var(--medium-space);
}

.card-body .card-section{
    margin-top:var(--big-space);
}

.card .card-main .card-title{
    margin-bottom:var(--base-space);
    font-size: 1.5rem;
}

.card-main .prezzo{
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body .card-list .list-item{
    gap: 5px;
    margin-top: var(--base-space);
}

.card-body .buy-option *{
    margin-bottom: var(--big-space);
}

.buy-option .buy{
    display: inline-block;
}

.buy-option .buy a{
    text-decoration: underline;
    color: #0055f2;
}

.line{
    width: var(--big-space);
    border: 1px solid #d0d0d3;
}

.highlights-list  .list-item i{
    color: var(--base-color);
}

.hr-container.card{
    width: 100%;
}

.hr-container.card .card-main{
    width: 60%;
    height: 100%;
}

.hr-container.card .card-body p{
    margin-top: var(--big-space);
}

.card-body .card-button{
    width: 40%;
    padding: 0 var(--medium-space);
}

/* * Partener section */

.partner-section{
    margin-top: 200px;
    display: flex;
}


.partner-section .partner-img{
   width: 60%;
}

.partner-section .partner-text{
    width: 40%;
    padding: 50px;
}

.partner-text > *{
    margin-bottom: var(--base-space);
}

.partner-text .button.btn-secondary{
    border: 1px solid black;
    background-color: white;
    color: black;
}

.partner-text .btn-secondary:hover{
    background-color: var(--base-color);
    color: white;
    transform-origin: right top;
    transition-duration:  0.5s;
}

/* *business section */
.business-section{
    margin-top: 200px;
    /* debug */
}

.business-section .card-container {
    margin-top: var(--big-space);
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 45px;
}

.card-container .small-title{
    margin-bottom:  var(--medium-space);
}

.card-container .card{
    width: calc(100% / 3 - var(--base-space));
}

/* * suggest section */
.suggest{
    margin-top: 200px;
    width: 60%;
}

.suggest .big-title{
    margin-bottom: var(--big-space);
}

.suggest a{
    text-decoration: underline;
    color: #0055f2;
}

/* * company feedback section */
.company{
    margin-top: 150px;
}

.company > *{
    width: calc(100% / 3);
    aspect-ratio: 1;
}

.company .company-img-container{
    flex-wrap: wrap;
}

.company .company-img-container .company-img{
    width: 50%;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
}

.company-img img{
    filter: invert(1);
    width: 50%;
}

.company-img.company-img.designit .logo-container{
    margin: 0 10px;
    height: calc(100% - 20px);
    justify-content: center;
}

.company-img.designit{
    background-color: #d1e9cd;
}

.company-img.designit .logo-container{
    background-color: #a2d39b;
}

.company-img.asu{
    background-color: #61082b;
}

.company-img.uf{
    background-color: #0093ce;
}

.company-img.topps{
    background-color: #ff1c1c;
}

.company-img.relief{
    background-color: #d5001f;
}

.company-img.hearst{
    background-color: #b4d0e7;
}

.company-img.lonely-planet{
    background-color: #0d2481;
}

.company-img.clear-channel{
    background-color: #ffd830;
}

.company .recensione{
    padding: 25px 50px;
    background-color: #f5f5f5;
}

.recensione img{
    height: 30%;
    padding-right: 250px;
}

.recensione .line{
    width: 100px
}

.recensione p{
    margin: var(--big-space) 0;
}

/* * free trial */
.free-trial{
    background-color: #b4d0e7;
    min-height: 450px;
}

.free-trial .container{
    gap: 50px;
    align-items: center;
    height: 450px;
}

.free-trial .container .trial-text{
    margin-top:var(--base-space);
    width: 60%;
    color: #5a1a39;
}

.free-trial .container .trial-button{
    width: 40%;
    padding: 0 50px;
}

.trial-button .btn-secondary{
    background-color: white;
    color: black;
}

/* * faq section */
.faq-section{
    margin-top: 150px;
}

.faq-section .big-title{
    margin-bottom: var(--big-space);
}

.faq-section .faq-container{
    padding: 40px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

 .answer{
    margin-top: 10px;
    display: none;
}

.faq-icn-container .fa-chevron-up{
    display: none;
}

.faq-icn-container:hover .fa-chevron-up,
.faq-icn-container:hover + .answer{
    display: block;
}

.faq-icn-container:hover .fa-chevron-down{
    display: none;
}

/* ! HOVER */
.footer{
    margin-top: 200px;
    padding:var(--big-space) 0;
    background-color: #000000;
}

/* * footer link section */
.footer .footer-row:first-child{
    justify-content: space-between;
    min-height: 300px;
}

.footer-row .footer-column{
    width: calc(100% / 5 - var(--big-space));
    color: white;
}

.footer-column > .footer-link li{
    display: block;
    margin-top:var(--base-space);
}

.footer-link li a:hover{
    text-decoration: underline;
}

.footer .line{
    width: 150px;
}

/* * footer last section */
.footer-row:last-child{
    padding-top: var(--big-space);
    color: grey;
}