:root{
    --base-spacing:20px;
    --gap-base: 10px;
    --header-height:80px;
    --section-margin: 150px
}

/* ! reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! generics */
body{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    display: inline-block;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.button{
    padding: 5px var(--gap-base);
    background-color: #005dff;
    color: white;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/* ! header */
.header{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* debug */
    background-color: burlywood;
    min-height: var(--header-height)
}

.header .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--base-spacing);

    /* debug */
    background-color: coral;
    padding-left: var(--base-spacing);
    min-height: var(--header-height);
}

.header .navbar .nav-list li{
    margin-right: var(--base-spacing);
}

.header .navbar.right{
    flex-direction: row-reverse;

    /* debug */
    padding-right: var(--base-spacing);
}


/* ! main */

/* ! Jumbotron */
.jumbotron{
    display: flex;
    align-items: flex-end;

    /* debug */
    min-height: 750px;
    background-color: aqua;
}

.container.big{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;

    /* debug */
    padding: var(--base-spacing);
    min-height: 600px;
    min-width: 1200px;
    background-color: blueviolet;
}

.jumbo-title{
    
    /* debug */
    background-color: cornflowerblue;
    min-height: 144px;
}

.jumbo-paragraph{
    display: flex;
    justify-content: center;
    gap: var(--gap-base);

    /* debug */
    background-color: cornflowerblue;
    min-height: 450px;
}

.jumbo-paragraph .text{
    flex-basis: 40%;
    margin-top: 50px;

    /* debug */
    background-color: green;
}

.jumbo-paragraph .image{
    position: relative;
    flex-grow: 1;
    bottom: -50px;

    /* debug */
    background-color: green;
}

/* ! main body */

/* * offer section */
.container.wrapper{
    margin-top: 150px;

    /* debug */
    min-height: 2000px;
}

.offer-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--base-spacing);
    
    /* debug */
    background-color: aquamarine;
    min-height: 1200px;
    padding: var(--gap-base);
}

.offer-section .hr-container{
    flex-basis: 200px;
    
    /* debug */
    background-color: red;
}

.offer-section .vr-container{
    padding: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: var(--gap-base);

    /* debug */
    background-color: blue;
}

.vr-container .card{
    width: calc(100% / 3 - var(--gap-base));

    /* debug */
    background-color: lightgray;
}

/* * Partener section */

.partner-section{
    margin-top: var(--section-margin);
    display: flex;
    
    /* debug */
    min-height: 450px;
    background-color: darkcyan;
    padding: var(--gap-base);
}


.partner-section .partner-img{
    flex-grow: 1;
    
    /* debug */
    background-color: darkseagreen;
}

.partner-section .partner-text{
    flex-basis: 40%;

    /* debug */
    background-color: green;
}

/* *business section */
.business-section{
    margin-top: var(--section-margin);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;

    /* debug */
    min-height: 800px;
    background-color: cadetblue;
}

.business-section .card{
    width: calc(100% / 3 - 10px);

    /* debug */
    min-height: 300px;
    background-color: brown;
}

.suggest{
    margin-top: 200px;

    /* debug */
    background-color: chartreuse;
    min-height: 200px;
}

.company{
    margin-top: var(--section-margin);
    display: flex;
    width: 100vw;

    /* debug */
    background-color: crimson;
}

.company > *{
    width: calc(100% / 3);
    height: calc(100vw /3);
    display: flex;
    flex-wrap: wrap;

    /* debug */
    background-color: greenyellow;
}

.company .company-img-container .company-img{
    width: calc(100% / 2);

    /* debug */
    background-color: aqua;

    border: 3px dashed black;
}

.free-trial{

    /* debug */
    min-height: 300px;
    background-color: darkorange;
}

.faq-section{
    margin-top: 200px;

    /* debug */
    min-height: 450px;
    background-color: cadetblue;
}

.footer{
    margin-top: 200px;
    padding: 50px 0;
    /* debug */
    min-height: 400px;
    background-color: #000000;
}

.footer .container.big{

    /* debug */
    background-color: #005dff;
    min-height: 400px;
}

.footer .footer-row{


    /* debug */
    background-color: red;
    min-height: 150px;
}

.footer .footer-row:first-child{
    display: flex;
    justify-content: space-between;
}

.footer-row .footer-column{
    width: calc(100% / 5 - 50px);

    /* debug */
    background-color: green;
    min-height: 130px;
}